@import "normalize.css";

body {
	background-color: hsl(185, 75%, 39%);
	background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
	background-position: top -150% left -10%, bottom -150% right -5%; 
	background-repeat: no-repeat;
}

html, body {
    margin: 0;
    height: 100%;
		line-height:1.0;
}

* {
	box-sizing: border-box;	
 }

 main {
	 display: flex;
	 height: 98%;
	 width: 98%;
	 justify-content: center;
	 align-items: center;

	font-family: Kumbh Sans, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: hsl(227, 10%, 46%);
 }

 .card {
	 display: flex;

	 max-width: 425px;
	 max-height: 450px;
	 height: 95%;
	 width: 95%;
	 min-width: 300px;
	 min-height: 325px;

	 border-radius: 5%;

	 justify-content: center;
	 align-items: center;

	 background-color: white;

	 background-image: url(./images/bg-pattern-card.svg);
	 background-repeat: no-repeat;
	 background-size: contain;

	position: relative;
 }

 .info {
	 font-size: 18px;
	 white-space: pre;
 }

 .info > p:last-child {
	 font-size: 16px;
 }

 .bold {
	 font-weight: 700;
	 font-size: 18px;
	 color: hsl(229, 23%, 23%);
 }

 .profile-picture {
	 border-radius: 100%;
	 object-fit: contain;
 }

 .circle {
	 position: absolute;
	 top: 27%;
 }

 .info {
	 display: flex;
	 flex-direction: column;
	 flex-wrap: wrap;
	 text-align: center;
	 line-height: .1;
	 align-items: center;
	 justify-content:center;
	 position: absolute;
	 width: 100%;
	 top: 50%;
 } 

 .stats {
	 display: grid;
	 width: 100%;
	 grid-template-columns: 2fr 1fr 2fr;
	 position: absolute;
	 top: 75%;
	 left: 0%;
	 border-top: 1px solid lightgrey;
	 text-align: center;
 }

 .stats > .bold {
	 margin-bottom:10px;
	 margin-top: 35px;
 }

 .stats > p:nth-child(4),
 .stats > p:nth-child(5),
 .stats > p:nth-child(6) {
	 margin: 0 auto;
	 letter-spacing: 2px;
 }


